* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("landing.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-top: 20vh;
}

h1 {
  color: #8dc349;
  text-align: center;
  font-family: Lato;
  font-size: 5vw;
}

span
{
  color: white;
  font-family: "Gill Sans MT", Calibri, sans-serif;
}
