<div id="blagamdzialaj">
  <h2>O NAS</h2>
  <div id="main">
    <div>
      <div id="text">Oto wydłużona wersja tekstu:

        Witamy w <span class="cwelemarket">CWELEMARKET</span> – Twoim lokalnym supermarkecie w sercu Bukaresztu! Jesteśmy dumni, że możemy dostarczać naszym klientom najwyższej jakości produkty w przystępnych cenach, które spełniają oczekiwania nawet najbardziej wymagających osób. Nasz szeroki asortyment obejmuje świeże owoce i warzywa, lokalne specjały, międzynarodowe przysmaki oraz wszystkie niezbędne artykuły codziennego użytku. W <span class="cwelemarket">CWELEMARKET</span> znajdziesz również szeroki wybór napojów, słodyczy, a także produktów ekologicznych, które pozwolą Ci zadbać o zdrowie i dobre samopoczucie.
        <br><br>
        Dbamy o to, by zakupy u nas były wygodne, szybkie i przyjemne, a nasza obsługa zawsze służy pomocą i chętnie doradzi w wyborze najlepszych produktów. Niezależnie od tego, czy robisz zakupy codzienne, czy przygotowujesz się na większe święto, w naszym sklepie znajdziesz wszystko, czego potrzebujesz. <span class="cwelemarket">CWELEMARKET</span> to miejsce, gdzie tradycja spotyka nowoczesność, a każdy klient jest dla nas ważny. Wierzymy, że zakupy w naszym sklepie to nie tylko codzienna czynność, ale także sposób na budowanie więzi z naszymi klientami i lokalną społecznością. Jesteśmy tu dla Ciebie – Twoje zadowolenie to nasz priorytet!
        <br><br>
        Zapraszamy do odwiedzenia naszego sklepu – razem tworzymy społeczność, która stawia na jakość, zaufanie i dbałość o detale. Czekamy na Ciebie z otwartymi ramionami i gotowi, by sprostać wszystkim Twoim potrzebom zakupowym.
      </div>
    </div>
    <div id="zdjecie">
    </div>
  </div>
</div>
