<div id="cos">
  <h2>PRACOWNICY</h2>

  <div id="smietnik">
    <div class="pracownik">
      <h3>Michal</h3>
      <div id="ochroniarz"></div>
      <p class="opis">Doświadczony ochroniarz supermarketu, dbający o bezpieczeństwo klientów i personelu. Zawsze czujny i gotowy do działania w każdej sytuacji.</p>
    </div>
    <div class="pracownik">
      <h3>Michalina</h3>
      <div id="michalina"></div>
      <p class="opis">Doświadczona kasjerka supermarketu, dbająca o sprawną obsługę klientów i dokładność przy kasie. Zawsze uprzejma i gotowa pomóc w każdej sytuacji.</p>
    </div>
    <div class="pracownik">
      <h3>Michal Drugi</h3>
      <div id="magazynier"></div>
      <p class="opis">Sumienny magazynier supermarketu, odpowiedzialny za przyjmowanie dostaw, organizację towarów i utrzymanie porządku w magazynie. Zawsze pracuje z dbałością o szczegóły i terminowość.</p>
    </div>
    <div class="pracownik">
      <h3>Michal Trzeci</h3>
      <div id="nakladka"></div>
      <p class="opis">Skrupulatny wykladacz towarów, dbający o odpowiednie rozmieszczenie produktów na półkach i ich dostępność dla klientów. Zawsze pracuje z zaangażowaniem, zapewniając estetykę i porządek w sklepie.</p>
    </div>
  </div>
</div>

<div class="pracownikmiesiaca">
  <h3 id="nazwa">Pracownik Miesiąca: Michal Czwarty</h3>
  <div id="kosz">
    <div id="cwel"></div>
    <div class="opis2">Michał 4 najebany jest przykładem niezłomności i determinacji. Mimo trudnych początków, gdy w wieku 5 lat został opuszczony przez ojca, nie poddał się przeciwnościom losu. Już od młodych lat wiedział, czego chce, i zrealizował swoje cele, stając się częścią rodziny Cwelemarket.
      Od trzech lat pracuje z pełnym zaangażowaniem, dając z siebie 100% każdego dnia. Nadgodziny w Cwelemarket zajęły więcej jego czasu niż relacje z ojcem, ale Michał 4 patrzy na życie z optymizmem. Jako jeden z najlepszych pracowników wciąż czeka na wypłatę, jednak nie traci wiary, że jego wysiłki zostaną docenione, a pensja stanie się rzeczywistością, nie fikcją.
    </div>
  </div>
</div>

