<div id="cos">
  <h2>NASZ ZESPÓŁ</h2>

  <div id="smietnik">

    <div class="pracownik">
      <div id="ochroniarz" class="zdjecie"></div>
      <div class="tekst">Michał Zjebany, Ochroniarz</div>
    </div>

    <div class="pracownik">
      <div id="michalina" class="zdjecie"></div>
      <div class="tekst">Michalinka Hot, Kasjerka</div>
    </div>

    <div class="pracownik">
      <div id="magazynier" class="zdjecie"></div>
      <div class="tekst">Michał Ąkły, Magazynier</div>
    </div>

    <div class="pracownik" >
      <div id="nakladka" class="zdjecie"></div>
      <div class="tekst">Michał Trzezwy, Uzupełniacz</div>
    </div>

  </div>
</div>

