*
{
  place-content: center;
}

#cos
{
  background-color: #7fb822;
  height: 50vh;
}

.pracownik{
  height: 25vh;
  width: 15vw;
  color: white;
  margin-right: 2vw;
  margin-left: 2vw;
}


#smietnik
{
  display: flex;
}

#ochroniarz{
  background-image: url("ochroniacz.png");
}

#magazynier {
  background-image: url("magazynier.png");
}

#michalina{
  background-image: url("michalinka.png");
}

#nakladka{
  background-image: url("uzupelniacz.png");
}

.zdjecie
{
  background-size: cover;
  height: 100%;
  width: 100%;
  font-size: 1.5vh;
}

h2{
  text-align: center;
  font-size: 4vw;
  color: white;
  margin-top: -6vh;
}

p{
  background: white;
  color: #68e845;
}

h3
{
  font-size: 2vh;
}

.tekst{
  background: white;
  color: #7fb822;
  font-size: 1.5vh;
  height: 5vh;
  padding-left: 1.5vh;
}
